body {
    background-color: black;
  }

  main {
    color: greenyellow; 
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  pre {
    font-family:'Courier New', Courier, monospace; 
    text-align: initial;
  }

  h1 {
    font-size: 1.1vw;
  }

  #textContent {
    width: 59%;
    position: absolute;
    top: 15%;
    left: 16%;
  }

  #output {
    margin-top: -10px;
    padding-left: 2%;
    font-size: 1.7vw;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  img {
    width: 97%;
  }

  .small {
    display: none;
  }

  pre span {
    background-color: rgb(155, 228, 45);
  }

  #red-light {
    width: 2.21%;
    height: 1.065%;
    font-size: 0px;
    background-color: rgb(233, 11, 11);
    position: absolute;
    top: 83.44%;
    left: 38.63%;
    display: none;
    border-radius: 2px;
  }

  .hide {
    display: none !important;
  }

  .blink {
    animation: blink 1s steps(2) infinite;
  }

  .blink-fast {
    animation: blink 0.2s steps(2) infinite;
  }

  @keyframes blink {
    0% {visibility: hidden;}
  }

  @media screen and (max-width: 374px) {
    img { display: none; }
    h1 pre {font-size: 10px; }
    .large { display: none; }
    .small { display: unset; }
    #output {font-size: 16px !important; }
    #textContent { position: static; width: 100%;}
    #red-light {display: none !important;}
  }

  @media screen and (max-width: 650px) {
    img { width: 99%; }
    #output {font-size: 2.3vw; }
  }

  @media screen and (min-width: 800px) {
    #red-light { display: initial };
  }

  @media screen and (min-width: 1000px) {
    h1 { font-size: 11px; }
    #output { font-size: 16px; }
    #red-light { display: initial };
  }